<section id="archives">
  <h2><%= @path||'<a href="/archives" title="archives">Previous articles</a>' %></h2>
  <ul>
    <% if archives.length > 0 %>
      <% for entry in archives %>
        <li>
          <a href="<%= entry.path %>"><%= entry.title %></a>
        </li>
      <% end %>
    <% end %>
  </ul>
</section>
