<article class="post">
  <header>
    <h2><%= title %></h2>
    <span class="date"><%= date %></span>
  </header>

  <section class="content">
    <%= body %>
  </section>

  <section class="comments">
    <% if @config[:disqus] %>
      <div id="disqus_thread"></div>
      <script type="text/javascript" src="http://disqus.com/forums/<%= @config[:disqus] %>/embed.js"> </script>
      <noscript><a href="http://<%= @config[:disqus] %>.disqus.com/?url=ref">View the discussion thread.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    <% end %>
  </section>
</article>

