<% require "karakuri" %>
<section id="articles">
  <% for article in articles[0...3] %>
    <article class="post">
      <header>
        <h2><a href="<%= article.path %>"><%= article.title %></a></h2>
        <span class="author">by <%= article.author %></span>
        <span class="date"><%= article.date %></span>
      </header>

      <section class="content">
        <%= article.summary %>
      </section>
      <div class="more"><a href="<%= article.path %>">read on &raquo;</a></div>
      <section class="tags">
        <%= Karakuri::tag_link_list(article[:tags])  %>
      </section>
    </article>
  <% end %>
</section>

<section id="tag-cloud">
<%  Karakuri::tag_cloud(@articles).each do |tag, freq| %>
    <%= %|<a href="/tagged?tag=#{tag}" alt="articles concerning #{tag}" style="font-size: #{10 * freq}px">#{tag}</a>| %>
<% end %>
</section>

<section id="archive-list">
  <%= archives[3..-1] %>
</section>

