<% require 'karakuri' %>
<% desired_tag = Karakuri::desired_tag(env["QUERY_STRING"]) %>
<section id="tagged">
  <h2>Posts filed under '<%= desired_tag %>': </h2>
  <ul>
<% Karakuri::desired_articles(@articles, desired_tag).each do |article| %>
    <li>
      <a href="<%= article.path %>" alt="<%= article.title %>"><%= article.title %></a>
    </li>
  <% end %>
  </ul>
</section>
