<% require "karakuri" %>
<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <% page_title = Karakuri::seo_friendly_title(@path, title, 'yourSitesTitle.com') %>
    <title><%= title %></title>
  </head>
  <body>
    <header id="main-title">
      <h1><%= title %></h1>
    </header>
    <nav>
      <ul>
        <li><a href="/" title="home">home</a></li>
        <li><a href="/about" title="about">about</a></li>
        <li><a href="/archives" title="archives">archives</a></li>
        <li><a href="/index.xml" title="feed">rss/atom</a></li>
      </ul>
    </nav>
    <section id="container">
      <%= yield %> 
    </section>
    <footer>
      powered by <a href="http://cloudhead.io/toto">toto</a>
      <% if @config[:disqus] %>
      <%= Karakuri::disqus_comment_count_js(@config[:disqus]) %>
      <% end %>
    </footer>
  </body>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-XXXXXXXX-X', 'heroku.com');
    ga('send', 'pageview');

  </script>
</html>

