$base: #eee;
$lightest: #f6f6f6;
$light: #ccc;
$medium: #aaa;
$dark: #666;
$darkest: #333;
$menu-pos: 74%;
$content-width: 50%;

html { 
  margin: 0px;
  body {
    margin: 0px auto 0px auto;
    font-family: Helvetica, Verdana, sans-serif;
    font-size: medium;
    line-height: 30px;
    padding: 0px;
    width: $content-width;
    background: $base;
    color: $darkest;
    a {
      color: $dark;
      text-decoration: none;
    }
    a:hover { text-decoration: underline; }
    ul, li { list-style-type: none; }
    code { font-family: 'Anonymous Pro', 'Bitstream Vera Sans', 'Monaco', Courier, mono; }
    pre { padding: 20px; }
    blockquote { font-style: italic; }
    h1, h2, h3, h4 {
      display: inline;
      margin: 0;
      font-weight: 600;
    }
    h1 {
      font-weight: bold;
      font-size: large;
      margin: 5px 0 5px 0;
      color: $lightest;
      a {
        color: $lightest;
        text-decoration: none;
      }
    }
    h2 {}
    h3 {
      font-weight: bold;
      font-size: medium;
    }
    header#main-title {
      display:none;
      position:fixed;
      left: 0px;
      top: 0px;
      margin: 5px;
      padding: 5px;
      h1 {
        font-size: 250%;
      }
    }
    #container {
      margin: 0px;
      padding: 10px;
      background-color: $lightest;
      box-shadow: 0px 0px 10px 10px $dark;
      header, footer, section, article, nav {
        display: block;
      }
      header {
        display: block;
        padding-top: 20px;
        line-height: 50px;
        margin-bottom: 20px;
        h2 {
          font-size: large;
          margin: 5px 0 5px 0;
          font-weight: bold;
        }
      }
      section#tag-cloud {
        position:fixed;
        left: $menu-pos+1%;
        padding: 5px 30px 5px 30px;
        background-color: $lightest;
        top:150px;
        max-height: 130px;
        overflow: hidden;
        width:20%;
        border-radius: 150px / 80px;
        a { vertical-align: middle; }
      }
      section#archive-list {
        position:fixed;
        font-size: small;
        left: $menu-pos+2%;
        top:300px;
        ul {
          margin: 0px;
          padding: 0px;
          li {
            margin: 0px;
            padding: 0px;
            a {
              padding: 2px;
              border-left: thick solid $lightest;
              background-color: $lightest;
              border-top-left-radius: 15px;
              border-bottom-left-radius: 15px;
            }
          }
        }
      }
      .date {
        font-style: italic;
        font-size: small;
        float: right;
        margin-right: 10px;
      }
      .author {
        float: right;
        font-size: small;
        margin-right: 30px;
      }
      .post {
        margin-bottom: 30px;
        border-bottom: thin solid $light; 
        p { margin: 10px 0; }
        header { margin-bottom: 10px; }
        .body { 
          p:first-child { margin-top: 0; }
          p:last-child { margin-bottom: 0; }
        }     
        .more {
          margin-top: -1em;
          margin-right: 30px;
          font-size: small;
          font-style: italic;
          text-align: right;
          a { text-decoration: none; }
          .more a:hover { text-decoration: underline }
        }
      }
      .post:last-child { 
          margin-bottom: 10px; 
          border-bottom: none;
        }
      #content {}
    }
    nav {
      position: fixed;
      left: $menu-pos;
      top:0px;
      font-size: small;
      ul {
        padding: 2px;
        margin: 2px;
        li {
          padding: 2px;
          margin: 0px;
          a {
            padding: 3px;
            border-left: medium solid $light;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            background-color: $lightest;
            font-weight: bold;
            font-color: #fff;
          }
        }
      }
    }
    footer {
      text-align: right;
      margin-left: 10px;
      font-style: italic;
      font-size: small;
      color: #999;
    }
    #by {
      font-style: italic;
      margin-right: 5px;
      font-size: 28px;
    }
    #caption {
      position: absolute;
      font-size: 24px;
      margin: -135px 0 0 70px;
    }
    #path {
      color: #b53131;
    }
  }
}

